@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

.linkButton {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}

.linkButton:hover {
  color: #0056b3; /* Darker blue on hover */
}

.mainTile {
  background-image: url('/pattern.png');
  background-size: contain;
  background-position: top center;
  background-repeat: repeat;
}
